<link rel="stylesheet" href="/css/footer.css">
<footer>
    <div class="left">
       <ul>
           <li>Isha Shah</li>
           <li>Contact No. 7069294722</li>
       </ul>
       
    </div>
    <div class="middle">
        <img src="/assets/images/Logo_new.png" alt="Logo">
    </div>
    <div class="right">
        <img src="/assets/images/Shri_Krishna.png" alt="Shri Krishna">

    </div>
</footer>