<link rel="stylesheet" href="/css/login.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
    integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />
<div class="form-popup form-login" id="myForm">
    <form action="/login" class="form-container">
        <i class="fa-solid fa-xmark closebtn"></i>
        <h1>Login</h1>
        <div class="email">
            <label for="email"><b>Email</b></label>
            <input type="text" placeholder="Enter Email" name="email" required>
        </div>
        <div class="password">
            <label for="pwd"><b>Password</b></label>
            <input type="password" placeholder="Enter Password" name="pwd" required>
        </div>
        <button type="submit" class="btn">Login</button>

    </form>
</div>

<script>
    //functionality for close button
    document.querySelector('.closebtn').addEventListener("click", () => {
        document.querySelector('.form-login').style.display = "none";
    });
</script>