<link rel="stylesheet" href="/css/navbar.css">
<nav class='navbar'>
    <div class='wlc-msg'>
        <h3>Welcome to Pathshala</h3>
    </div>
    <div class='header'>
        <img src="/assets/images/Shri_Vallabh.png" alt="Shrinathji">
        <h1>जय श्री कृष्ण</h1>
        <img src="/assets/images/Shrinathji.png" alt="Shrinathji" class="shriji">
    </div>
    <div class='main-navbar'>
        <div class='nav-links'>
            <a href="/">Home</a>
            <a href="/audio">Audio</a>
            <a href="/pathavali">Pathavali</a>
            <a href="/e-books">E-books</a>
            <a href="/videos">Video</a>
            <a href="/events">Events</a>
            <a href="/faqs">FAQs</a>
        </div>
        <div class="nav-buttons">
            <a href="/login" class="register-links">LogIn</a>
            <a href = "/signup" class="register-links">SignUp</a>
        </div>
    </div>
</nav>
