<link rel="stylesheet" href="/css/navbar.css">
<nav class='navbar'>
    <div class='wlc-msg'>
        <h3>Welcome to Pathshala</h3>
    </div>
    <div class='header'>
        <img src="/assets/images/Shri_Vallabh.png" alt="Shrinathji">
        <h1>जय श्री कृष्ण</h1>
        <img src="/assets/images/Shrinathji.png" alt="Shrinathji" class="shriji">
    </div>
    <div class='main-navbar'>
        <div class='nav-links'>
            <a href="/">Home</a>
            <a href="/audio">Audio</a>
            <a href="/pathavali">Pathavali</a>
            <a href="/e-books">E-books</a>
            <a href="/videos">Video</a>
            <a href="/events">Events</a>
            <a href="/faqs">FAQs</a>
        </div>
        <div class="nav-buttons">
            <button class="login-btn">LogIn</button>
            <button class="signup-btn">SignUp</button>
        </div>
    </div>
</nav>

<script>
    //functionality for login page
    document.querySelector('.login-btn').addEventListener("click", () => {
        document.querySelector('.form-login').style.display = "flex";
    });

     document.querySelector('.signup-btn').addEventListener("click", () => {
            document.querySelector('.form-signup').style.display = "flex";
        });
</script>