<link rel="stylesheet" href="/css/navbar.css">
<nav class='navbar'>
    <div class='wlc-msg'>
        <h3>Welcome to Pathshala</h3>
    </div>
    <div class='header'>
        <img src="/assets/images/Shri_Vallabh.png" alt="Shrinathji">
        <h1>जय श्री कृष्ण</h1>
        <img src="/assets/images/shrinathji.png" alt="Shrinathji" class="shriji">
    </div>
    <div class='main-navbar'>
        <div class='nav-links'>
            <a href="/">Home</a>
            <a href="/audios">Audio</a>
            <a href="/pathavali">Pathavali</a>
            <a href="/e-books">E-books</a>
            <a href="/videos">Video</a>
        </div>
        <div class="nav-buttons">
            <button>LogIn</button>
            <button>SignUp</button>
        </div>
    </div>
</nav>