<link rel="stylesheet" href="/css/navbar.css">
<nav class="navbar">
    <div class='main-navbar'>
        <div class='nav-links'>
            <a href="/">Home</a>
            <a href="/audio">Audio</a>
            <a href="/pathavali">Pathavali</a>
            <a href="/e-books">E-books</a>
            <a href="/videos">Video</a>
        </div>
        <div class="nav-buttons">
            <button class="login-btn">LogIn</button>
            <button class="signup-btn">SignUp</button>
        </div>
    </div>
</nav>