<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>૮ સમા ના દર્શન</title>
    <link rel="stylesheet" href="/css/8_sama_darshan.css">
</head>
<body>
   <div class="darshan-container">
     <div class="slideshow-container">
        <div class="mySlides fade">
            <div class="numbertext">1 / 8</div>
            <h2 class="heading">Mangla </h2>
            <div class="content">
                <div class="image">
                <img src="/assets/images/mangla_darshan.jpg" alt="Mangla darshan">
                </div>
                <div class="text">This is the first darshan of the day. This is the time when Shrinathji just woke up with very light ornaments and clothes.
                <br>
                This is the only darshan when the Pithikaji is visible, also one can have the darshan of Shreeji’s right hand. In fact
                this darshan is the only one, where Shreeji is visible totally.
                <br><br>
                It mainly remains open for 45 minutes depending on seasons.
                Aarti is done in this darshan.
                Bhakts enjoy this darshan a lot, and the hall echoes with their jai jaikar.</div>
            </div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">2 / 8</div>
            <h2 class="heading"> Shringar </h2>
            <div class="content">
                <div class="image">
                    <img src="/assets/images/shringar_darshan.jpg" alt="Shringar darshan">
                </div>
                <div class="text" style="font-size:1.5em;line-height:1.1em;">This is the second darshan of a day. Shringar darshan is just one hour later Mangla. Shreeji is dressed according to different seasons and festivals.
                His entire wardrobe of 365 days has been decided by Shri Gusainji nearly 500 years back and is followed till today.
                <br>
                Shreeji is offered a garland of fragrant flowers. His Bansuri is offered now with the two Chhadis. The pink Kamal(lotus) or anyother seasonal flower are also are decorated on his waist. 
                <br>
                After His Shringar is complete, the Mukhiyaji shows Shreeji a
                gold ayaina (mirror) so that Shreeji can see himself in beautiful attire. The moment when Shreeji looks at himself in
                the mirror is not to be missed, as in these few moments ShreeNathji will be present for sure in his mandir. It is
                incredible.
                <br>
                There is no Arti in this darshan.
                </div>
            </div>
        </div>
    
        <div class="mySlides fade">
            <div class="numbertext">3 / 8</div>
            <h2 class="heading"> Gwal </h2>
            <div class="content">
                <div class="image">
                    <img src="/assets/images/gwal_darshan.jpg" alt="Gwal darshan">
                </div>
                <div class="text">This is the third darshan of a day.Gwal darshan opens an hour and a half after Shringar.
                <br>
                This Darshan is the time when Thakurjee takes his cows (Gaumata) for grazing. The Gaushala mukhiya comes to inform Shreeji that all his cows are doing well.
                In this Jhankhi, Beedaji (triangle betel leaves) and Jhariji are also offered.
                <br>
                Tulsi Dal is offered at His Feet.
                This Darshan normally does not open for public during festivals and is done inside.

                </div>
            </div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">4 / 8</div>
            <h2 class="heading"> Rajbhog </h2>
            <div class="content">
                <div class="image">
                    <img src="/assets/images/rajbhog_darshan.png" alt="Rajbhog darshan">
                </div>
                <div class="text" style="font-size:1.5em;line-height:1.1em;">The fourth darshan is the most bhavya (grand) darshan of the day. This is Shreeji’s lunch time.
                In this Jhanki, Shreeji stands with His Kamal and two new Malas (garland).
                
                Two Beedaji (triangle betel leaves), Shreeji’s Ladoo Banta (Gold box containing sweet ladoos), Jhariji are also offered
                along with His Venu (flute), two Chhadis and Kamal (flowers on His waist).
                <br>
                Once Shreeji is ready, He is shown an Aaina (mirror).
                
                A Morchhadi (Stick of peacock feathers) is swayed from one side.
                
                Aarti is performed in this Darshan.
                <br>
                
                Once the Aarti is done, the curtain is drawn for a few seconds, when one Malaji is taken away. This darshan is open for a long period after this.After this Darshan, Shreeji’s Haveli is shut for the afternoon as it is His time for vishram (rest).
                Most sewaks also retire and rest, as they have been awake very early.
                </div>
            </div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">5 / 8</div>
            <h2 class="heading"> Utthapan </h2>
            <div class="content">
                <div class="image">
                    <img src="/assets/images/utthapan_darshan.jpg" alt="Utthapan darshan">
                </div>
                <div class="text" style = "font-size:1.5em;line-height:1.3em;">This is the fifth darshan of the day.Nearly three hours later the Shankhnaad (conch) is heard again.
                This is the first of the four afternoon Darshans.
                Like Mangala, bhakts gather outside the gate, waiting for the door to open.
                <br>  
                Shreeji is woken with the sound of the Vina. It is often around between 3.45-4.15 pm.This Darshan is open for a short time. At times Shreeji looks sleepy in this Darshan. The entire Haveli seems very peaceful and calm.
                <br> 
                Shreeji’s vastra becomes lighter now. There is no Beedaji, no Chadiji, no Bansuri, no Kamal in this darshan.Two Jhariji are offered now, with the bhaav of Shri Yamuna Maharaniji.
                <br>  
                No Aarti is done now.
                </div>
            </div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">6 / 8</div>
            <h2 class="heading"> Bhog </h2>
            <div class="content">
                <div class="image">
                    <img src="/assets/images/bhog_darshan.jpg" alt="Bhog darshan">
                </div>
                <div class="text">This is the sixth darshan of the day.This Darshan opens around an hour after Utthapan.
                Bantaji is placed now, with Jhariji and two Beedaji.
                Shreeji adorns two fragrant flower Malaji. His Bansuri and Chhadiji are offered now.
                <br>
                A ‘Chhadi Dar’ is present on the side who dresses in a gherdar, formal attire. He is Shreeji’s guard, who wears gold
                kadas and carries a gold or silver Chhadi. His Paag, Kamarpatta, dupatta matches Shreeji’s Vastra for that particular day.
                A morchhadi is waved around Shreeji.
                <br>
                No Aarti is done in this darshan.
                </div>
            </div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">7 / 8</div>
            <h2 class="heading"> Sandhya-Aarti </h2>
            <div class="content">
                <div class="image">
                    <img src="/assets/images/sandhya_arti_darshan.jpg" alt="Sandhya-Aarti darshan">
                </div>
                <div class="text">This is the seventh darshan of the day.Very soon after Bhog is the Aarti darshans.
                Sandhya Aarti is the evening darshan.
                <br>
                This darshana takes place at dusk, when krishna use to bring his Cows home from the fields.
                <br>
                All of Shreeji’s vastra and ornaments are made light now.
                Bantaji, Jhariji, five Beedaji are offered.
                Shreeji wears two thick flower Malaji, Bansuri and Chhadi are offered now.
                <br>
                A morchhadi is waved from one side.
                <br>
                Aarti is performed now.

                </div>
            </div>
        </div>
        <div class="mySlides fade">
            <div class="numbertext">8 / 8</div>
            <h2 class="heading"> Shayan </h2>
            <div class="content">
                <div class="image">
                    <img src="/assets/images/shayan_darshan.jpg" alt="Shayan darshan">
                </div>
                <div class="text"  style = "font-size:1.5em;line-height:1.1em;">This is the eighth and last darshan of the day.From Dassera to Ram Navami, Shayan Darshan is at Nathdwara.
                From Ram Navami to Dassera Shayan Darshan is at Jatipura, Govardhan, Mathura.
                <br>
                Shreeji wears two Malaji, made from fragrant flowers. He is offered His Bansuri and Kamal (flowers on His waist). A
                matching flower is also placed on His raised left hand.
                No Chadi is offered now.Paan Beedaji, Jhariji is kept ready.
                Morchadiji is swayed from one side.
                <br>
                Mukhiyaji offers Shreeji paan seven times. We can see one sewak cleaning the floor continuously, in the bhao of Shreeji
                eating paan.
                <br>
                It marks the end of that day and all will become still and silent till the next morning, till the Shankh naad sound;
                signaling that Shreeji is now awake.
                It is a very quiet & silent feeling in the entire town once Shreeji retires for the night. All return to their homes to come back for sewa the next day.
        
                </div>
            </div>
        </div>
       
        <!-- Next and previous buttons -->
        
    </div>
    <a class="prev" onclick="plusSlides(-1)">&#10094;</a>
    <a class="next" onclick="plusSlides(1)">&#10095;</a>
    
    <!-- The dots/circles -->
    <div style="text-align:center">
        <span class="dot" onclick="currentSlide(1)"></span>
        <span class="dot" onclick="currentSlide(2)"></span>
        <span class="dot" onclick="currentSlide(3)"></span>
        <span class="dot" onclick="currentSlide(4)"></span>
        <span class="dot" onclick="currentSlide(5)"></span>
        <span class="dot" onclick="currentSlide(6)"></span>
        <span class="dot" onclick="currentSlide(7)"></span>
        <span class="dot" onclick="currentSlide(8)"></span>
    </div>
   </div> 
</body>
<script>
    var slideIndex = 1;
        showSlides(slideIndex);

        // Next/previous controls
        function plusSlides(n) {
            showSlides(slideIndex += n);
        }

        // Thumbnail image controls
        function currentSlide(n) {
            showSlides(slideIndex = n);
        }

        function showSlides(n) {
            var i;
            var slides = document.getElementsByClassName("mySlides");
            var dots = document.getElementsByClassName("dot");
            if (n > slides.length) { slideIndex = slides.length }
            if (n < 1) { slideIndex = 1 }
            for (i = 0; i < slides.length; i++) {
                slides[i].style.display = "none";
            }
            for (i = 0; i < dots.length; i++) {
                dots[i].className = dots[i].className.replace(" active", "");
            }
            slides[slideIndex - 1].style.display = "block";
            dots[slideIndex - 1].className += " active";
        }
</script>
</html>