<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krishna Bal-Leela</title>
    <link rel="stylesheet" href="/css/video_utils.css">
</head>
<body>
    <%- include("./partials/secondary_navbar.ejs") %>
    <div class="main-grid">
    <h2> Krishna Bal-Leela Videos </h2>
    
    <div class="grid-container">
        <div class="video">
        <iframe src="https://www.youtube.com/embed/1CcjCPzTr5Q" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            <h3>Krishna Birth Leela</h3>
        </div>
        <div class="video">
            <iframe src="https://www.youtube.com/embed/5Co_M2UJ5io" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <h3>Kaliya Nag Leela</h3>
        </div>
        <div class="video">
        <iframe src="https://www.youtube.com/embed/GCVnN0cxhac" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
            <h3>Govardhan Leela</h3>
        </div>
        <div class="video">
            <iframe  src="https://www.youtube.com/embed/1CcjCPzTr5Q" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <h3>Krishna Birth Leela</h3>
        </div>
        <div class="video">
            <iframe  src="https://www.youtube.com/embed/1CcjCPzTr5Q" title="YouTube video player"
                frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                allowfullscreen></iframe>
            <h3>Krishna Birth Leela</h3>
        </div>
        
    </div>
    <%- include("./partials/Footer.ejs") %>
    </div>
</body>
</html>