<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/nitya_niyam_path.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include("./partials/secondary_navbar.ejs") %>

        <div class="path-container">

            <h1>Bhajan (ભજન)</h1>
            <table>

                <thead class="table-head">
                    <tr>
                        <th class="serial-no">Sr No.</th>
                        <th id="name"> Name </th>
                    </tr>
                </thead>


            </table>
        </div>
</body>
<script>
    var data = <%- JSON.stringify(data) %>
    //console.log(data);
   var content = ``;
    var child_content = ``;
    data.forEach((path, key) => {
        child_content = ``;
        path.text.forEach((line) => {
            child_content += `  <div class="lines">
                           ${line}
                        </div>`
        })
        content += `<tr class="inside-row">
                <td class="serial-no">${path.id}.</td>
                <td class="player">
                    <h3 class="title"> 
                        ${path.name} 
                        <div class="audios">
                        <audio src="/assets/Audios/Chatuh_shloki.ogg"> </audio>
                        <i class="fa-solid fa-play"></i>
                    </div>
                        </h3>
                    <div class="hidden">
                       ${child_content}
                    </div>
                </td>
            </tr>`

    })

    document.querySelector('table').innerHTML += content;
    console.log(document.querySelectorAll('span'));
    document.querySelectorAll('.player').forEach((event, key) => {
        event.addEventListener('click', () => {
            if (document.querySelectorAll('.hidden')[key].style.display === "none") {
                document.querySelectorAll('.hidden')[key].style.display = "block";
                document.querySelectorAll('.title')[key].style.textAlign = "center";
                document.querySelectorAll('.title')[key].style.color = "#f12711";
                document.querySelectorAll('.inside-row')[key].style.backgroundColor = "#ffdab9";
            }
            else {
                document.querySelectorAll('.hidden')[key].style.display = "none";
                document.querySelectorAll('.title')[key].style.textAlign = "left";
                document.querySelectorAll('.title')[key].style.color = "#000";
                if (key % 2 == 0)
                    document.querySelectorAll('.inside-row')[key].style.backgroundColor = "#c0c0c0";
                else
                    document.querySelectorAll('.inside-row')[key].style.backgroundColor = "#fff";
            }
        })
    })
    let audios = document.getElementsByClassName('audios');
    console.log(audios);

    for (let i = 0; i < audios.length; i++) {
        let my_audio = audios[i].children[0];
        let toggle_btn = audios[i].children[1];
        toggle_btn.addEventListener('click', () => {
            //   if(my_audio.paused)
            //   toggle_btn.classList.toggle("fa-pause");
            if (my_audio.paused) {
                my_audio.play();
                toggle_btn.classList.replace("fa-play", "fa-pause");
            }
            else {
                my_audio.pause();
                toggle_btn.classList.replace("fa-pause", "fa-play");
            }
        })

    }
</script>

</html>