<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <link rel="stylesheet" href="/css/faqs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <%- include("./partials/Navbar.ejs") %>
    <div class="faq-container">
    <h2>
        Discussion Forum
    </h2>
    
        <div class="questions">
            <div class="question">
                
            <p class="question-text">
                <span>Q.</span>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aspernatur minus! Sint molestiae quaerat vel repudiandae nam ad, similique sit nobis vitae voluptatum inventore provident a assumenda quae saepe fugiat odio.
            </p>
            <hr>
            <div class="reply-text">
                <div class="reply-span">
                    <span class="count-replies">
                        Total replies: 2
                    </span>
                    
                    <button class="reply-btn">
                        Replies
                        <i class="fa-solid fa-caret-down"></i>
                    </button>
                </div>
                <div class="reply-container">
                <button id="to-reply">
                    <i class="fa-solid fa-reply"></i>
                    Reply
                </button> 
                    <div class="replies">
                     
                        <div class="reply">
                            <article>
                            Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid sint officia, eligendi consequatur beatae veritatis perspiciatis itaque, sed voluptate accusantium repudiandae? Commodi sit sint dignissimos repellat minus, sunt voluptates explicabo?
                            </article>
                            <hr>
                            <div class="comment-btn">
                                <div class="feedback-container">
                                    <div class="feedback">
                                        <i class="fa-solid fa-thumbs-up"></i>
                                        <span>6</span>
                                    </div>
                                    <div class="feedback">
                                        <i class="fa-solid fa-thumbs-down"></i>
                                        <span>3</span>
                                    </div>
                                </div>
                            <h4>Replied by: abcfdgdfgvv</h4>
                            </div>
                        </div>
                        <div class="reply">
                            <article>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid sint officia, eligendi consequatur beatae
                                veritatis perspiciatis itaque, sed voluptate accusantium repudiandae? Commodi sit sint dignissimos repellat
                                minus, sunt voluptates explicabo?
                            </article>
                            <hr>
                            <div class="comment-btn">
                                <div class="feedback-container">
                                    <div class="feedback">
                                        <i class="fa-solid fa-thumbs-up"></i>
                                        <span>6</span>
                                    </div>
                                    <div class="feedback">
                                        <i class="fa-solid fa-thumbs-down"></i>
                                        <span>3</span>
                                    </div>
                                </div>
                                <h4>Replied by: abcfdgdfgvv</h4>
                            </div>
                        </div>
                        
                        <div class="reply">
                            <article>
                                Lorem ipsum dolor, sit amet consectetur adipisicing elit. Aliquid sint officia, eligendi consequatur beatae
                                veritatis perspiciatis itaque, sed voluptate accusantium repudiandae? Commodi sit sint dignissimos repellat
                                minus, sunt voluptates explicabo?
                            </article>
                            <hr>
                            <div class="comment-btn">
                                <div class="feedback-container">
                                    <div class="feedback">
                                        <i class="fa-solid fa-thumbs-up"></i>
                                        <span>6</span>
                                    </div>
                                    <div class="feedback">
                                        <i class="fa-solid fa-thumbs-down"></i>
                                        <span>3</span>
                                    </div>
                                </div>
                                <h4>Replied by: abcfdgdfgvv</h4>
                            </div>
                        </div>
                        
                    </div>
                    </div>
            </div>
            </div>
                <div class="question">
                
                    <p class="question-text">
                        <span>Q.</span>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aspernatur minus! Sint molestiae quaerat vel
                        repudiandae nam ad, similique sit nobis vitae voluptatum inventore provident a assumenda quae saepe fugiat odio.
                    </p>
                    <hr>
                    <div class="reply-text">
                        <div class="reply-span">
                            <span class="count-replies">
                                Total replies: 2
                            </span>
                
                            <button class="reply-btn">
                                Replies
                                <i class="fa-solid fa-caret-down"></i>
                            </button>
                        </div>
                        <div class="hidden-content">
                
                        </div>
                    </div>
                </div>
                    <div class="question">
                    
                        <p class="question-text">
                            <span>Q.</span>
                            Lorem ipsum dolor sit amet consectetur adipisicing elit. Eveniet, aspernatur minus! Sint molestiae quaerat vel
                            repudiandae nam ad, similique sit nobis vitae voluptatum inventore provident a assumenda quae saepe fugiat odio.
                        </p>
                        <hr>
                        <div class="reply-text">
                            <div class="reply-span">
                                <span class="count-replies">
                                    Total replies: 2
                                </span>
                    
                                <button class="reply-btn">
                                    Replies
                                    <i class="fa-solid fa-caret-down"></i>
                                </button>
                            </div>
                            <div class="hidden-content">
                    
                            </div>
                        </div>
                    </div>
            
        </div>
    </div>
</body>
<script>
    
    document.querySelector('.reply-btn').addEventListener('click',()=>{
       var container =  document.querySelector('.reply-container');
      if(window.getComputedStyle(document.querySelector(".reply-container")).display === "none")
       {
           document.querySelector('.reply-container').style.display = "block";
       }
       else
       {
           document.querySelector('.reply-container').style.display = "none";
       }
    })

    document.querySelector('.fa-thumbs-up').addEventListener('click',()=>{
        document.querySelector('.fa-thumbs-up').style.color = "green";
    })
    document.querySelector('.fa-thumbs-down').addEventListener('click', () => {
            document.querySelector('.fa-thumbs-down').style.color = "red";
    })
</script>
</html>