<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FAQs</title>
    <link rel="stylesheet" href="/css/faqs.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>
    <%- include("./partials/Navbar.ejs") %>
    <%- include("./partials/new_question.ejs") %>
    <%- include("./partials/new_reply.ejs") %>
        <div class="faq-container">
            <h2>
                Discussion Forum
            </h2>
            
                <div class="questions">
                    
        </div>
</body>
<script>

    document.querySelector('.nav-buttons').innerHTML = `<button class="register-links"> Ask Question </button>`;
    document.querySelector('.register-links').addEventListener('click',()=>{
        document.querySelector('.faq-container').style.display = "none";
        document.querySelector('.main-question-container').style.display="block";
    });
    var parent_content = ``;
    var reply_content = ``;
    var data = <%- JSON.stringify(data) %>
     console.log(data);
        data.forEach((question) => {
            question.replies.forEach((reply)=>{
                reply_content+=`       <div class="reply">
                                        <article>
                                           ${reply.replyText} 
                                        </article>
                                        <hr>
                                        <div class="comment-btn">
                                            <div class="feedback-container">
                                                <div class="feedback">
                                                    <i class="fa-solid fa-thumbs-up"></i>
                                                    <span>6</span>
                                                </div>
                                                <div class="feedback">
                                                    <i class="fa-solid fa-thumbs-down"></i>
                                                    <span>3</span>
                                                </div>
                                            </div>
                                            <h4>Replied by: ${reply.username}</h4>
                                        </div>
                                    </div>` 
            })
            parent_content+=`<div class="question">
                             
                        <p class="question-text">
                            <span>Q.</span>
                            ${question.questionText}
                        </p>
                        <hr>
                        <div class="reply-text">
                            <div class="reply-span">
                                <span class="count-replies">
                                    Total replies: ${question.replies.length}
                                </span>

                                <button class="reply-btn">
                                    Replies
                                    <i class="fa-solid fa-caret-down"></i>
                                </button>
                            </div>
                            <div class="reply-container">
                                <a href="/reply" id="to-reply">
                                    <i class="fa-solid fa-reply"></i>
                                    <span> ${question._id} </span>
                                    Reply
                                </a>
                                <div class="replies">

                               ${reply_content}


                                </div>
                            </div>
                        </div>
                    </div>`
        })
        document.querySelector('.questions').innerHTML+=parent_content;

        
            document.querySelector('.reply-btn').addEventListener('click', () => {
                var container = document.querySelector('.reply-container');
                if (window.getComputedStyle(document.querySelector(".reply-container")).display === "none") {
                    document.querySelector('.reply-container').style.display = "block";
                }
                else {
                    document.querySelector('.reply-container').style.display = "none";
                }
            })

            document.querySelector('.fa-thumbs-up').addEventListener('click', () => {
                document.querySelector('.fa-thumbs-up').style.color = "green";
            })
            document.querySelector('.fa-thumbs-down').addEventListener('click', () => {
                document.querySelector('.fa-thumbs-down').style.color = "red";
            })
            document.querySelector('#to-reply').addEventListener('click',()=>{
                document.querySelector('.faq-container').style.display="none";
                document.querySelector('.main-reply-container').style.display="block"
            })

           
</script>

</html>