<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Krishna Bal-Leela</title>
    <link rel="stylesheet" href="/css/video_utils.css">
</head>

<body>
    <%- include("./partials/secondary_navbar.ejs") %>
        <div class="main-grid">
            <h2> Lessons of Shrimad Bhagwad-Geeta</h2>

            <div class="grid-container">
                <div class="video">
                <iframe src="https://www.youtube.com/embed/Hbl1SdneXbI" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                    <h3>Karma Yog</h3>
                </div>
                <div class="video">
                <iframe src="https://www.youtube.com/embed/eg9BNWTxhPo" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                    <h3>Bhakti Yog</h3>
                </div>
                <div class="video">
                <iframe src="https://www.youtube.com/embed/pY-FcXGTMgM" title="YouTube video player"
                    frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                    allowfullscreen></iframe>
                    <h3>Brahma Yog</h3>
                </div>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/2bG2Z33s6ZA" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <h3>Gyan Yog</h3>
                </div>
                <div class="video">
                    <iframe src="https://www.youtube.com/embed/WV0jBCx7OoM" title="YouTube video player"
                        frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                    <h3>Dhyan Yog</h3>
                </div>

            </div>
            <%- include("./partials/Footer.ejs") %>
        </div>
</body>

</html>