<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chalo Satsang Taraf</title>
    <link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <!-- to use html code snippet from another folder -->
  <%- include("./partials/Navbar.ejs") %> 
  <!-- main content -->
  <div class="main-container">
    <div class="slogan">
      <h1>"તુજ સંગ કોઈ વૈષ્ણવ થાય તો તુ વૈષ્ણવ સાચો, <br>અને તારા સંગ નો રંગ ન લાગે તો તુ વૈષ્ણવ કાચો."</h1>
    </div>
    <div class="content">
      <h3>Role of Pushtimargiya Pathshala</h3>
       <p>
        Today, when several athiest organizations are trying to demoralize and deviate entire world, It becomes necessary to
        protect our developing generation who would give this world a new and properous future. It becomes our utmost important
        duty to inculcate and maintain religous values in our younger generation. With the vast expansion of organizations that
        are constantly trying to demoralize our children, as a sanatan hindu, we should become vigilant and start inculcating
        our kids deligently with our religious values.
       </p>
       <br>
       <p>
        In our society all elders,parents are very much conscious about this, but they don't know what to do. In order to avoid
        such complexity in our society, we have to inculcate our religious values from child-hood only, so that when they grow,
        they should be in position to discriminate certain things and also they can stand for our religious values, as there is
        lot of criticism for our hindu religion. Our motive is very clear that they should in position to justify for each and
        every religious values, so that no one can critise our religious values.
       </p>
       <br>
       <p>
        For this all purpose we have a pushtimargiya pathshala which does this kind of work. It is a bridge between a man and
        Shrinathji. Pathshala is mainly an hour or two hours class once a week, where you mainly learn about all "Pushtimargiya
        Siddhantas" like "Nitya-Niyam Path", "Story of 84-252 Vaishnavas", "8-Sama na Darshan" and many more..
       </p>
       <br>
    </div>

  </div>
  <%- include("./partials/Footer.ejs") %>
</body>

</html>