<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Introduction about Shrinathji, Shri Mahaprabhuji and Shri Yamunaji</title>
    <link rel="stylesheet" href="/css/intro.css">
</head>
<body>
    <div class="curtain">
        <div class="curtain-panel left-curtain"></div>
        
            <div class="text">
                <h2>
                    Shrinathji
                </h2>
                <img src="" alt="">
                <div class="content">
            
                </div>
            </div>
            <div class="curtain-panel right-curtain">
            </div>
    </div>
    
</body>
<script>

   document.querySelector('.curtain').addEventListener('click',()=>{
       document.querySelector('.left-curtain').style.transform = "translateX(-100%)";
       document.querySelector('.right-curtain').style.transform = "translateX(100%)";
       document.querySelector('.text').style.display = "block";
     
   })


</script>
</html>