<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/nitya_niyam_path.css">
</head>
<body>
    <div class="path-container">
        <h1> Nitya-Niyam Paths (નિત્ય નિયમ ના પાઠ)</h1>
        <%- include("./partials/Path.ejs") %>
        <h1> <%-data%> </h1>
        <table>
           
            <thead class="table-head">
                <tr>
                    <th class="serial-no">Sr No.</th>
                    <th id="name"> Name </th>
                </tr>
            </thead>
            <tr>
                <td class="serial-no">1. </td>
                <td class="player">
                    <span> Shri ManglaCharan (શ્રી મંગલાચરણ) </span>
                    <div class="path">
                    </div>
                </td>
            </tr>
            <tr>
                <td class="serial-no">2. </td>
                <td class="player">
                    <span> Pratah-Smaran (પ્રાતઃસ્મરણ) </span>
                    <div class="path">
                       
                    </div>
                </td>
            </tr>
            <tr>
                <td class="serial-no">3. </td>
                <td class="player">
                    <span> Shri Yamunashtakam (શ્રી યમુનાષ્ટકમ) </span>
                <div class="path">

                </div>
                </td>
            </tr>
            <tr>
                <td class="serial-no">4. </td>
                <td class="player">
                    <span> Shri Chatuh Shloki (શ્રી ચતુઃશ્લોકી) </span>
                    <div class="path">
                        
                    </div>
                </td>
            </tr>
        
        </table>
    </div>
</body>
</html>