<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nitya-Niyam-Na-Path</title>
    <link rel="stylesheet" href="/css/nitya_niyam_path.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
      integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    <%- include("./partials/secondary_navbar.ejs") %>

    <div class="path-container">
      <h1>Nitya-Niyam Paths (નિત્ય નિયમ ના પાઠ)</h1>
      <table>
        <thead class="table-head">
          <tr>
            <th class="serial-no">Sr No.</th>
            <th id="name">Name</th>
          </tr>
        </thead>
      </table>
    </div>
  </body>
  <script>
             var data = <%- JSON.stringify(data) %>
            var content = ``;
             var child_content = ``;
             data.forEach((path, key) => {
                 child_content = ``;
                 path.text.forEach((line) => {
                     child_content += `  <div class="lines">
                                    ${line}
                                 </div>`
                 })
                 content += `<tr class="inside-row">
                         <td class="serial-no">${path.id}.</td>
                         <td class="player">
                             <h3 class="title">
                                 ${path.name}
                                 <div class="audios">
                                 <audio src=${path.src}> </audio>
                                 <i class="fa-solid fa-play"></i>
                             </div>
                                 </h3>
                             <div class="hidden">
                                ${child_content}
                             </div>
                         </td>
                     </tr>`

             })

    function drawerFunction(evt, key) {
        console.log(evt, key)
                     if (document.querySelectorAll('.hidden')[key].style.display === "none") {
                         document.querySelectorAll('.hidden')[key].style.display = "block";
                         document.querySelectorAll('.title')[key].style.textAlign = "center";
                         document.querySelectorAll('.title')[key].style.color = "#f12711";
                         document.querySelectorAll('.inside-row')[key].style.backgroundColor = "#ffdab9";
                     }
                     else {
                         document.querySelectorAll('.hidden')[key].style.display = "none";
                         document.querySelectorAll('.title')[key].style.textAlign = "left";
                         document.querySelectorAll('.title')[key].style.color = "#000";
                         if (key % 2 == 0)
                             document.querySelectorAll('.inside-row')[key].style.backgroundColor = "#c0c0c0";
                         else
                             document.querySelectorAll('.inside-row')[key].style.backgroundColor = "#fff";
                     }
                 };
             document.querySelector('table').innerHTML += content;
             console.log(document.querySelectorAll('span'));
             document.querySelectorAll('.player').forEach((event, key) => {
        event.addEventListener('click', (evt)=>{
            drawerFunction(evt, key)
        })
             })
                let audios = document.querySelectorAll('.audios');
                let play = Array(audios.length).fill(false);
                 for (let i = 0; i < audios.length; i++) {
                     audios[i].children[1].addEventListener('click', () => {
                        // already playing
                        if(play[i])
                        {
                            play[i] = false;
                            audios[i].children[0].pause();
                            audios[i].children[1].classList.replace("fa-pause", "fa-play");
                        }
                        // not already playing
                        else
                        {
                            // pause all other audios and start this new only
                            for(let j=0; j<audios.length; ++j)
                            {
                                let my_audio = audios[j].children[0];
                                let toggle_btn = audios[j].children[1];
                                if(i!==j)
                                {
                                    play[j] =false;
                                    my_audio.pause();
                                    toggle_btn.classList.replace("fa-pause", "fa-play");
                                }
                                else
                                {
                                    my_audio.currentTime=0;
                                    my_audio.play();
                                    play[j] = true;
                                    toggle_btn.classList.replace("fa-play", "fa-pause");
                                }
                            }
                        }
                     })

                 }
  </script>
</html>
