<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pathavali</title>
    <link rel="stylesheet" href="/css/pathavali.css">
</head>
<body>
    <%- include("./partials/Navbar.ejs") %>
    <div class="path-container">
       <div class="sub-section">
           <div class="top">
            <img class="clouds" src="/assets/images/Makhan.png" alt="Makhan">
               <a  class="cloud-text" href="/pathavali/nitya_niyam_path"> નિત્ય-નિયમ ના પાઠ <br> (Nitya-Niyam Path) </a>
            </div>
           <div class="left">
                <img class="clouds" src="/assets/images/Makhan.png" alt="Makhan">
               <a class="cloud-text" href="/pathavali/bhajan"> ભજન <br> (Bhajan) </a>
            </div>
           <div class="matki">
            <img src="/assets/images/Dahi_Handi.png" alt="Matki">
            <a href="/pathavali/introduction">Introduction about Shrinathji, Shri Mahaprabhuji and Shri Yamunaji</a>
        </div>
           <div class="right">
                <img class="clouds" src="/assets/images/Makhan.png" alt="Makhan">
               <a class="cloud-text" href="/pathavali/kirtan">કીર્તન <br> (Kirtan)</a>
            </div>
           <div class="bottom">
                <img class="clouds" src="/assets/images/Makhan.png" alt="Makhan">
               <a class="cloud-text" href="/pathavali/8_sama_na_darshan">૮ સમા ના દર્શન <br>
               (8-Sama na darshan)</a>
            </div>

        </div>
    </div>
    <%- include("./partials/Footer.ejs") %>
</body>
<script>
    //  let cloudText = document.querySelectorAll('.cloud-text');
    //  cloudText.forEach(e,()=>{
    //      console.log(e);
    //      e.addEventListener("mouseover",()=>{
    //       document.querySelector('.clouds').style.transform = "scale(1.1)";})
    //  })
     
    //   document.querySelectorAll('.cloud-text').addEventListener("mouseover",()=>{
    //       document.querySelectorAll('.clouds').style.transform = "scale(1.1)";
    //   })
    //   document.querySelectorAll('.cloud-text').addEventListener("mouseout", () => {
    //         document.querySelectorAll('.clouds').style.transform = "scale(1)";
    //     })
</script>
</html>