<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reply</title>
    <link rel="stylesheet" href="/css/ask_question.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"
        integrity="sha512-KfkfwYDsLkIlwQp6LFnl8zNdLGxu9YAA1QvwINks4PhcElQSvqcyVLLD9aMhXd13uQjoXtEKNosOWaZqXgel0g=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>


<body>
    <div class="ask-question-container">
        <i class="fa-solid fa-xmark"></i>
        <div class="guidelines">
            <p>Your reply should be:</p>
            <ul>
                <li>Short and relevant to the question.</li>
                <li>Should be unique.</li>
                <li>Should not contain any bad language.</li>
            </ul>
        </div>
        <div class="question-box">
            <div class="username">
                Username
            </div>
            <form action="/ask_question" method="POST">
                <textarea name="question" placeholder="Ask your question here.."></textarea>
                <input type="submit" value="POST">
            </form>
        </div>
    </div>
</body>
<script>
    document.querySelector('.fa-xmark').addEventListener('click', () => {
        window.location.href = "/faqs";
    })
</script>

</html>