<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
    <link rel="stylesheet" href="/css/video.css">
</head>

<body>
    <%- include("./partials/Navbar.ejs") %>
        <div class="video-container">
            <h2> Videos </h2>
            <a href="/videos/bal_leela">
                <div class="card-container">
                    <div class="content">
                        <h3>Krishna Bal-Leela</h3>
                        <p>
                            This section contains bal-leela's of Shri Krishna. As a child Shri Krishna is very
                            notorious. His birth leela is very mysterious and as a child he killed many demons who had
                            tried to attack on him. He is very cute and every Gopi of Gokul, loves him.
                        </p>
                    </div>

                    <img src="/assets/images/little_krishna.png" alt="Little Krishna">
                </div>
            </a>
            <a href="/videos/dwarks-leela">
                <div class="card-container">
                    <div class="content">
                        <h3>Shri Krishna At Dwarka</h3>
                        <p>
                            This section contains the life of Shri Krishna at Dwarka. It include marriage of Shri
                            Krishna with Shri Rukmini and 7 other queens. Also, it includes the story of Bravery of Shri
                            Krishna in killing many demons and save the life of may Gopis.
                        </p>
                    </div>
                    <img src="/assets/images/krishna_big.png" alt="Little Krishna">
                </div>
            </a>
            <a href="/videos/geeta">
                <div class="card-container">
                    <div class="content">
                        <h3>Shri Krishna's Sermon in Kurukshetra</h3>
                        <p>
                            At the time of Mahabharata, when Arjun was very distressed about fighting with his own
                            family members, Lord Krishna preached to Arjun about the karma's of mankind. Also, Shri
                            Krishna has taken his "virat swaroop" and gave Arjun the confidence by being his charioteer
                            (sarthi) during whole fight.
                        </p>
                    </div>
                    <img src="/assets/images/mahabharat_krishna.jpg" alt="Little Krishna">
                </div>
            </a>
            <a href="/videos/imp-lessons">
                <div class="card-container">
                    <div class="content">
                        <h3>Important lessons of Life</h3>
                        <p>
                            In this section you will get all different life learning lessons from many Gurus. In this
                            Kaliyug, the chanting of god and bhakti of god has dissapeared somewhere. All are now busy
                            in their own lives, running after money to accomplish their needs and for their comfort. In
                            this all situtation, he has forgotten the almighty who has given us birth and who is helping
                            us in every situation. These are some Gurus which make us understand the importance of our
                            spiritual scriptures and also the importance of God in one's life.
                        </p>
                    </div>
                    <img src="/assets/images/little_krishna.png" alt="Little Krishna">
                </div>
            </a>
        </div>
        <%- include("./partials/Footer.ejs") %>
</body>

</html>