<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Videos</title>
    <link rel="stylesheet" href="/css/video.css">
</head>

<body>
    <%- include("./partials/Navbar.ejs") %>
    <div class="video-container">
        <h2> Videos </h2>
        <a href="/videos/bal_leela">
        <div class="card-container">
            <div class="content">
                <h3>Krishna Bal-Leela</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae itaque eligendi aliquid dolor aut vitae dolore voluptates natus culpa exercitationem magni asperiores tenetur perferendis iste deserunt, inventore aperiam accusantium a rem, similique quibusdam, alias magnam at. In adipisci accusamus repellat blanditiis vel, quos hic possimus quo porro minus.
                </p>
            </div>
           
            <img src="/assets/images/little_krishna.png" alt="Little Krishna">
        </div>
        </a>
        <div class="card-container">
            <div class="content">
                <h3>Krishna Bal-Leela</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae itaque eligendi aliquid dolor aut vitae dolore
                    voluptates natus culpa exercitationem magni asperiores tenetur perferendis iste deserunt, inventore aperiam
                    accusantium a rem, similique quibusdam, alias magnam at. In adipisci accusamus repellat blanditiis vel, quos hic
                    possimus quo porro minus.
                </p>
            </div>
            <img src="/assets/images/little_krishna.png" alt="Little Krishna">
        </div>
        <div class="card-container">
            <div class="content">
                <h3>Krishna Bal-Leela</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae itaque eligendi aliquid dolor aut vitae dolore
                    voluptates natus culpa exercitationem magni asperiores tenetur perferendis iste deserunt, inventore aperiam
                    accusantium a rem, similique quibusdam, alias magnam at. In adipisci accusamus repellat blanditiis vel, quos hic
                    possimus quo porro minus.
                </p>
            </div>
            <img src="/assets/images/little_krishna.png" alt="Little Krishna">
        </div>
        <div class="card-container">
            <div class="content">
                <h3>Krishna Bal-Leela</h3>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Recusandae itaque eligendi aliquid dolor aut vitae dolore
                    voluptates natus culpa exercitationem magni asperiores tenetur perferendis iste deserunt, inventore aperiam
                    accusantium a rem, similique quibusdam, alias magnam at. In adipisci accusamus repellat blanditiis vel, quos hic
                    possimus quo porro minus.
                </p>
            </div>
            <img src="/assets/images/little_krishna.png" alt="Little Krishna">
        </div>
    </div>
    <%- include("./partials/Footer.ejs") %>
</body>

</html>