*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body
{
background-color: #f0e68c;
min-height:100vh;
}
.audio-container
{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1em 0;
}
.audio-container table
{
    width: 80%;
        border: 2px solid black;
        margin-top: 1em;
        border-bottom: 1pt solid black;
        border-collapse: collapse;
}
.audio-container table .table-head tr
{
background-color: #e1a95f;
    font-size: 1.5em;
    font-weight: 700;
}
.audio-container table thead th
{
    padding: 0.3em 0.1em;
}
.audio-container table thead tr .serial-no,
.audio-container table tr .serial-no
{
    width: 10%;
    text-align: center;
}
.audio-container table tr
{
    height: fit-content;
        font-size: 1.2em;
        font-weight: 600;
        border-bottom: 1pt solid black;
}
.audio-container table .inside-row:nth-child(odd) 
{
    background-color: #c0c0c0;
}
.audio-container table .inside-row:nth-child(even) 
{
    background-color: #fff;
}
.audio-container table tr td
{
  padding: 0.5em 0.5em;
}
.audio-container table tr .player
{
  position: relative;
}
.audio-container table tr .player span
{
   position: absolute;
   left: 3%;
   top:50%;
 transform: translate(-3%,-50%);
}
.audio-container table tr .player .audios
{
    position: absolute;
    right:10%;
    top:50%;
   transform: translate(-10%,-50%);
}
.audio-container table tr td .audios i
{
    font-size: 1.5em;
    cursor:pointer;
}
.audio-container table tr td .audios .fa-play
{
    color:red;
}
.audio-container table tr td .audios .fa-pause
{
    color:green;
}

