*
{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}
.curtain
{
   max-width:100vw;
   min-height:100vh;
   overflow: hidden;
   display: flex;
   justify-content: space-around;
  
}
.curtain .left-curtain
{
    transform: translateX(0);
}
.curtain .right-curtain
{
    transform: translateX(0);
}
.curtain .curtain-panel
{
    width:50%;
    min-height:100vh;
    background: #CB356B;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #BD3F32, #CB356B,#BD3F32,#CB356B,#BD3F32, #CB356B,#BD3F32,#CB356B);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #BD3F32, #CB356B,#BD3F32,#CB356B,#BD3F32, #CB356B,#BD3F32,#CB356B); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
   cursor:pointer;
    transition: all 4s ease-in-out;
    z-index:2;
}
.curtain .text
{
   display: none;
   position: absolute;
   width: 100vw;
   min-height: 100vh;
   background-color: #f0e68c;
}
.curtain .text .intro
{
     text-align: center;
     margin:1em 0;
     font-size: 1.8em;
    background: #780206;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #061161, #780206);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #061161, #780206);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
}
.curtain .text .image
{
    display: flex;
    justify-content: space-around;
    width: 100vw;
    padding-top:1em;
}
img
{
    height: 400px;
}
figure figcaption
{
    text-align: center;
    font-weight: 600;
    font-size: 1.4em;

}
.curtain .text .content
{
     padding: 1em 2em;
     font-size: 1.1em;
     color: black;
     width: 80%;
     margin:auto;
}
.curtain .text .content h2
{
        margin: 1em 0 0.5em 0;
        font-size: 1.2em;
        color: #780206;
}
