*
{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.form-popup
{
   width:100vw;
   height: 100vh;
   /* display: flex; */
   justify-content: center;
   align-items: center;
   position: fixed;
   top:0;
   background-color:transparent;
   z-index: 5;
   display: none;
}
.form-popup .form-container-login
{
    display: flex;
    flex-direction: column;
    width:30vw;
    height:50vh;
    background-color:#111;
    color:white;
    justify-content: space-evenly;
    padding: 1em 2em;
    position: relative;
}
.form-popup .form-container-login .fa-xmark
{
    position: absolute;
    top:0.5em;
    right:0.5em;
    color:white;
    font-size: 2em;
    transition: all 0.5s ease;
}
.form-popup .form-container-login .fa-xmark:hover
{
   color: red;
}
.form-popup .form-container-login h1
{
    display: flex;
    justify-content: center;
}
.form-popup .form-container-login div
{
    display: flex;
    flex-direction: column;
}
.form-popup .form-container-login div label
{
    font-size: 1.2em;
    padding-bottom: 0.1em;
}
.form-popup .form-container-login div input
{
    font-size: 1em;
    padding:0.3em 0.5em;
    border: 2px solid red
}
.form-popup .form-container-login div input:active,
.form-popup .form-container-login div input:focus
{
    border:none;
    outline-color: green;
    outline-width: 2px;
}
.form-popup .form-container-login button 
{
    
    padding: 0.15em 0;
    font-size: 1.2em;
    width:60%;
   margin:1em auto 0 auto;
   font-weight: 700;
   border-radius: 5px;
   transition: all 0.5s ease-in-out;
}
.form-popup .form-container-login button:hover
{
    color:#fff;
    
    box-shadow: inset 0px 10px 100px green;
}

