* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-question-container,
.main-reply-container {
  position: absolute;
  height: 50vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dcdcdc;
  display: none;
  /* opacity:0.4; */
}

.ask-question-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
}

.ask-question-container .fa-xmark {
  color: black;
  margin: 0.3em 0 0.1em 2.5%;
  font-weight: 900;
  font-size: 1.1em;
  transition: all 0.3s;
  padding: 0.1em 0.2em;
}

.ask-question-container .fa-xmark:hover {
  cursor: pointer;
  background-color: red;
  color: white;
  border-radius: 3px;
}

.ask-question-container .guidelines {
  width: 95%;
  padding: 1em;
  background-color: #ebf0ff;
  margin: auto;
  border-radius: 5px;
  color: #2e69ff;
}

.ask-question-container .guidelines p {
  font-weight: 600;
}

.ask-question-container .guidelines ul {
  padding: 0 1em;
}

.question-box {
  width: 95%;
  margin: auto;
}

.question-box .username {
  font-weight: 600;
  font-size: 1.2em;
  color: #222;
  padding-top: 0.5em;
  padding-bottom: 0.3em;
}

.question-box form textarea {
  height: 5em;
  width: 100%;
  padding: 0.3em;
}

.question-box form input {
  min-height: 1.5em;
  font-size: 1em;
  text-align: center;
  padding: 0.5em 1em;
  margin: 0.5em 0;
  background-color: #2e69ff;
  opacity: 0.8;
  color: white;
  border: none;
  outline: none;
  border-radius: 15px;
}

.question-box form input:hover {
  opacity: 1;
  cursor: pointer;
}
